<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Spot</h1></a>
        <p>One stop solution for blogs & articles...</p>
    </div>

    <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New blogs</a></li>
    </ul>
</nav>