<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        <h1 class="title">404</h1>
        <p class="message">We are sorry, but the page you requested was not found.</p>
        <button>Go to Homepage</button>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>

